{% extends 'main.html' %}
<title>Mudar a  Senha</title>
{% block content %}


<div class="container shadow p-3 mb-5 bg-body rounded " style="width: 50%;margin-top: 30px;">
    <h1  style="text-align:center;color:#9a35dd;margin-top: 10px;font-weight: bolder;">Change Password...</h1>
<br/><br/>
<div class="form-group" style="font-weight: 600;line-height: 2.5;">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        
        <button class="btn btn-primary btn-block" style="width:200px;position: relative;left:35%;
        background: linear-gradient(to right,#623dc6 ,#9a35dd );">Change Password</button>
        <br/><br/>
        <ul>
            <li class="text-muted">Sua senha não pode ser muito parecida com suas outras informações pessoais.</li>
            <li class="text-muted">Sua senha deve conter pelo menos 8 caracteres.</li>
            <li class="text-muted">Sua senha não pode ser uma senha comumente usada.</li>
            <li class="text-muted">Sua senha não pode ser totalmente numérica.</li>
        </ul>
    </form>
</div>
</div>

{% endblock %}